/*!
Theme Name: Orchid Store Child
Theme URI: https://themebeez.com/themes/orchid-store/
Author: Matthew Tabone
Author URI: https://themebeez.com
Description: Orchid Store is a clean, flexible, stylish & dynamic e-commerce WordPress theme. It is totally based on WooCommerce, WordPress plugin. Orchid Store can be used to build a wide range of online stores ranging from a fashion store, mobile and gadget store, furniture shop, sports shop, home décor store, jewellery store or any kind of multi-category online shop. Orchid Store has adequate built-in features that are required to build an online shop or stores. Orchid Store gives users the flexible customization experience for crafting their online shop with ease. Customization in Orchid Store is so simple that it can easily be tuned from WordPress live customizer. Orchid Store is fully widgetized where one can easily drag & drop widgets to their respective widget areas to display website sections at front-end. If you are looking to extend your online store with the page builder, you can easily do it using Elementor page builder. If you are wondering how Orchid Store looks, please do kindly visit https://themebeez.com/themes/orchid-store/ for live demo preview. Do kindly visit https://themebeez.com/docs/orchid-store-theme-documentation/ if you would need a theme setup documentation guide.
Version: 1.2.0
License: GNU General Public License v2 or Later
License URI: https://www.gnu.org/licenses/gpl-2.0.html or Later
Text Domain: orchid-store
Tags: custom-background, custom-menu, custom-logo, featured-images, full-width-template, one-column, two-columns, theme-options, threaded-comments, translation-ready, footer-widgets, blog, left-sidebar, right-sidebar, e-commerce, rtl-language-support

Orchid Store, WordPress Theme, Copyright (C) 2020, themebeez.
Orchid Store is distributed under the terms of the GNU GPL

Orchid Store is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/* Change 1*/
/* Product info wrap */
.products .product .product-info-wrap{
	padding-top:55px;
	padding-bottom:0px;
	position:absolute;
	bottom:18px;
	left:0px;
	
}

/* Product main wrap */
.products .product .product-main-wrap{
	min-height:494px;
	max-height:0px;
	min-width:189px;
}

/* Product main wrap */
.inner-page-wrap .inner-entry .__os-container__ .row .col-lg-12 #primary #main .__os-woo-entry__ .columns-5 .products .product .product-main-wrap{
	height:822px !important;
}

/*Change 2*/
/* Main navigation */
.site-navigation ul {
    margin: 0;
    list-style: none;
    font: italic small-caps bold 12px/30px Georgia, serif;
}

/*Change 3*/
.site-title a, .site-description {
    color: #000000;
    font: italic small-caps bold 30px/30px Georgia, serif;
}

/*Change 4*/
.comment-respond, .product-main-wrap, .comments-area .comment-body, .cats-widget-style-1 .card, .post-navigation .nav-links, .os-blog-style-1 .card-content, .default-page-wrap .editor-entry, aside.secondary-widget-area .widget, .default-page-wrap .inner-content-metas, .archive-page-wrap .archive-entry article, .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register, .woocommerce-page .wishlist_table, .woocommerce .lost_reset_password, .woocommerce .woocommerce-ResetPassword, .woocommerce div.product div.summary, .woocommerce .woocommerce-cart-form, .woocommerce-page .woocommerce-cart-form, .woocommerce-page div.product .woocommerce-tabs, .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals, .woocommerce-page .woocommerce-billing-fields, .woocommerce-page .woocommerce-shipping-fields, .woocommerce-page .woocommerce-additional-fields, .woocommerce-page .woocommerce-checkout-review-order, .woocommerce-page .woocommerce-MyAccount-navigation, .woocommerce-account .woocommerce-MyAccount-content, .woocommerce-page .woocommerce ul.order_details, .woocommerce-page .woocommerce-order-details, .woocommerce .woocommerce-customer-details address, .woocommerce div.product div.images.woocommerce-product-gallery {
    border: 1px solid #eef1fd;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    font-family: 'Rammetto One', display;
}

/*Change 5*/
.os-breadcrumb-wrap .title h1{
	font-family:'Ribeye', display;
}

/*Change 6*/
.footer .footer-mask {
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: darken;
    background-image: linear-gradient(to right, #200122 0%, #6f0000 100%);
}

/*Change 7*/
/* Division */
#page .os-breadcrumb-wrap .mask {
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: darken;
    background-image: linear-gradient(to right, #200122 0%, #6f0000 100%);
}

/*Change 8*/
.copyrights-col .copyrights p{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

/*Change 9*/
.header-style-1 .custom-search-entry input {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 60px 0 20px;
    color: #8d8d8d;
    margin: 0;
    line-height: 1;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
    height: 48px;
    background: transparent;
    background-color: transparent;
    overflow: hidden;
    font-family: 'Prosto One', display;
    color: #000000;
    font-weight: 300;
    text-transform: uppercase;
}

/*Change 10*/
.elementor-element-4ec1679 tr td{
	border-color:#000000;
}

.elementor-element-4ec1679 tr th{
	border-color:#000000;
	
}










